<div class="sidebar" data-color="purple" data-background-color="white" data-image="<%= image_path('sidebar.jpg')%>">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Medical Center
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <% if @current_user.class == Doctor %>
        <li class="nav-item <%= active_class(my_patients_path)%>">
          <a class="nav-link" href="<%= my_patients_path %>">
            <i class="material-icons">group</i>
            <p>Мои пациенты</p>
          </a>
        </li>
      <% else %>
      <li class="nav-item <%= active_class(doctors_path)%>">
        <a class="nav-link" href="<%= doctors_path %>">
          <i class="material-icons">group</i>
          <p>Врачи</p>
        </a>
      </li>
      <li class="nav-item <%= active_class(profile_path)%>">
        <a class="nav-link" href="<%= profile_path %>">
          <i class="material-icons">person</i>
          <p>Мой Профиль</p>
        </a>
      </li>
      <li class="nav-item <%= active_class(pulses_path)%>">
        <a class="nav-link" href="<%= pulses_path %>">
          <i class="material-icons">timeline</i>
          <p>Пульс</p>
        </a>
      </li>
      <li class="nav-item <%= active_class(ecg_index_path)%>">
        <a class="nav-link" href="<%= ecg_index_path %>">
          <i class="material-icons">show_chart</i>
          <p>ЭКГ</p>
        </a>
      </li>
      <li class="nav-item <%= active_class(medical_files_path)%>">
        <a class="nav-link" href="<%= medical_files_path %>">
          <i class="material-icons">library_books</i>
          <p>Снимки</p>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
