<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="#pablo">Пользовательский профиль</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title"><%= @patient.last_name %> <%= @patient.name %> <%= @patient.patronymic %></h4>
          </div>
          <div class="card-body">
            <form action="patient" method="post" >
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Фамилия</label>
                    <input type="text" class="form-control" name="last_name" value="<%= @patient.last_name %>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Имя</label>
                    <input type="text" class="form-control" name="name" value="<%= @patient.name %>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Отчество</label>
                    <input type="text" class="form-control" name="patronymic" value="<%= @patient.patronymic %>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    <input type="email" class="form-control" name="email" value="<%= @patient.email %>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Дата рождения</label>
                    <input type="text" class="form-control" name="dob" value="<%= @patient.dob %>">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Адрес</label>
                    <input type="text" class="form-control" name="address" value="<%= @patient.address %>">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Номер телефона</label>
                    <input type="text" class="form-control" name="phone_number" value="<%= @patient.phone_number %>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Группа крови</label>
                    <input type="text" class="form-control" name="blood_type" value="<%= @patient.blood_type %>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Аллергия</label>
                    <input type="text" class="form-control" name="allergy" value="<%= @patient.allergy %>">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">Обновить</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <%= image_tag @patient.avatar_url, class: 'rounded-circle img-fluid'%>
          </div>
          <div class="card-body">
            <h4 class="card-title">Мой лечащий врач</h4>
            <h3 class="card-category text-gray"><%= @my_doctor.last_name %> <%= @my_doctor.name %> <%= @my_doctor.patronymic %></h3>
            <h6 class="card-category text-gray"><%= @my_doctor.email %></h6>
            <h6 class="card-category text-gray"><%= @my_doctor.phone_number %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
